@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --step--3: clamp(0.44rem, calc(0.33rem + 0.52vw), 0.66rem);
  --step--2: clamp(0.49rem, calc(0.31rem + 0.91vw), 0.88rem);
  --step--1: clamp(0.56rem, calc(0.27rem + 1.45vw), 1.17rem);
  --step-0: clamp(0.63rem, calc(0.18rem + 2.21vw), 1.56rem);
  --step-1: clamp(0.7rem, calc(0.05rem + 3.25vw), 2.08rem);
  --step-2: clamp(0.79rem, calc(-0.14rem + 4.67vw), 2.78rem);
  --step-3: clamp(0.89rem, calc(-0.43rem + 6.61vw), 3.7rem);
  --step-4: clamp(1rem, calc(-0.85rem + 9.25vw), 4.93rem);
  --step-5: clamp(1.13rem, calc(-1.44rem + 12.82vw), 6.58rem);
}

body {
  background: #e5be5e;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 100%;
  margin: 10rem auto;
}

.card-container {
  /*  min -- choose smallest width  */
  width: min(90%, 900px);
  border: 3px solid hotpink;
  padding: min(1vh, 1rem) 1.5rem;
  margin-inline: auto;
}

.card {
  background-color: #1a1b21;
  width: min(28ch, 100%);
  height: auto;
  margin-inline: auto;
  overflow: hidden;
}

.card-img {
  max-width: 100%;
  height: auto;
  aspect-ratio: attr(max-width) / attr(height);
  background-position: center;
}

.card-body {
  padding: max(1.5ch, 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h1 {
  /*   padding:max(1vh,0.1rem); */
  font-weight: bold;
  /*  clamp(MIN, VAL, MAX)  */
  /*   font-size:clamp(3rem,10vh + 1rem , 2rem); */

  font-size: var(--step-0);
}

.profession {
  font-size: var(--step--2);
  color: #f3bf99;
}

.site {
  font-size: var(--step--3);
  color: #f5f5f5;
  line-height: 1.33rem;
}

h1,
.profession,
.site {
  text-align: center;
}

.social-btn {
  padding: 0.5rem 0;
}

button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.45rem var(--step-0);
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  gap: 0.3rem;
  font-size: var(--step--2);
}

.email-btn {
  background: #fff;
  border: 1px solid #d1d5db;
  color: #374151;
}

.linkedin-btn {
  background: #5093e2;
  border: none;
  color: #fff;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}

.text-container h2 {
  font-size: var(--step--1);
  color: #f5f5f5;
  padding: 0.4rem 0;
}
.text-detail {
  font-size: var(--step--3);
  color: #dcdcdc;
  width: min(50rem, 100%);
  line-height: 150%;
  word-break: break-word;
}

.card-footer {
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  padding-top: 1vh;
}

.footer-icon {
  display: flex;
  justify-content: center;
}

.footer-icon a {
  text-decoration: none;
  text-align: center;
  padding-left: 0.5rem;
}

.footer-icon .fa-brands {
  color: #918e9b;

  /* font-size: var(--step-2); */
  /* width: 25px;
  height: 25px; */
}
